.top-container{
    position: relative;
}

.topimg{
    position: absolute;
    right: 300px;
    height: 120px;
    margin-top: -30px;
}

.middleimg{
    position: absolute;
    left: 250px;
    height: 120px;
}

.bottomimg{
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
}

h1{
    text-align: center;
    padding-top: 130px;
    font-family: "Mrs Saint Delafield", cursive;
    font-size: 120px;
}

h2{
    text-align: center;
    margin-top: -100px;
    font-size: 30px;
}

.pro{
    text-decoration: underline;
}