.top-container{
    position: relative;
}

.topimg{
    position: absolute;
    right: 300px;
    height: 120px;
    margin-top: -30px;
}

.middleimg{
    position: absolute;
    left: 250px;
    height: 120px;
}

.bottomimg{
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
}

h1{
    text-align: center;
    padding-top: 130px;
    font-family: "Mrs Saint Delafield", cursive;
    font-size: 120px;
}

h2{
    text-align: center;
    margin-top: -100px;
    font-family: "Funnel Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.pro{
    text-decoration: underline;
}

.profilepic{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    border-radius: 50%;
}

.profiletitle{
    text-align: center;
    font-family: "Funnel Sans", sans-serif;
    font-size: 50px;
    font-weight: 300;
}

p{
    text-align: center;
    font-size: 1.2rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.profile {
    margin-top: 1000px;
    text-align: center;
}

hr {
  border: dotted #f2f2f2 6px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}

.skilltitle{
    font-family: "Funnel Sans", sans-serif;
    font-size: 50px;
    font-weight: 300;
}

.skills{
    margin-top: -130px;
    display: grid;
    align-items: center;
    gap: 40px;
}

.desvdevimg{
    height: 300px;
    float: left;
    margin-left: 15%;
    border-radius: 5%;
    
}

.probsolimg{
    height: 300px;
    float: left;
    margin-left: 15%;
    border-radius: 5%;
}

.desdevtext, .probsoltext {
    margin-left: 35%;
    margin-top: -28%;
    padding-right: 20%;
    font-family: "Funnel Sans", sans-serif;
}

.contactbox{
    margin-top: 10%;
}

a {
  color: #000000;
  font-family: "Funnel Sans", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  
}

a:hover {
  color: #17b8a5;
}

.contactbox {
  text-align: center; 
  margin-bottom: 100px;
}

.btn {
    display: inline-block;
    background-color: #aeebe4;
    padding: 10px;
    border-radius: 10px;
    margin-top: 3%;
}

.bottom-container{
    text-align: center;
    margin-bottom: 80px;
}

.social{
    margin-bottom: 40px;
}
